<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<h2>Orders</h2>

<ul>
  <% @orders.each do |order| %>
    <li><%= link_to order.id, "https://#{@shop_session.url}/admin/orders/", target: "_top" %></li>

  <% end %>
</ul>

<hr>

<h2>Webhooks-edit</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>


<div class="Polaris-Page">
  <div class="Polaris-Page__Header">
    <div class="Polaris-Page__Title">
      <div>
        <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Sales by product</h1>
      </div>
      <div></div>
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Card">
      <div class="">
        <div class="Polaris-DataTable__Navigation">

        </div>
        <div class="Polaris-DataTable">
          <div class="Polaris-DataTable__ScrollContainer">
            <table class="Polaris-DataTable__Table">
              <thead>
                <tr>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--header" scope="col">Product</th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Price</th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">SKU Number</th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Net quantity</th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Net sales</th>
                </tr>

                <!-- <% @products.each do |product| %> -->
                <!-- <tr>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--total" scope="row">Totals</th>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--total"></td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--total"></td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--total Polaris-DataTable__Cell--numeric">255</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--total Polaris-DataTable__Cell--numeric">$155,830.00</td>
                </tr> -->
              </thead>
              <tbody>
                <tr class="Polaris-DataTable__TableRow">
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row">Emerald Silk Gown</th>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$875.00</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">124689</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">140</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$122,500.00</td>
                </tr>
                <tr class="Polaris-DataTable__TableRow">
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row">Mauve Cashmere Scarf</th>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$230.00</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">124533</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">83</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$19,090.00</td>
                </tr>
                <tr class="Polaris-DataTable__TableRow">
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row">Navy Merino Wool Blazer with khaki chinos and yellow belt</th>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$445.00</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">124518</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">32</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$14,240.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
